* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

main {
  height: 100vh;
  padding: 5%;
  background-color: #393E46;
  color: #AAD8D3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

main > * { margin-top: 5%; }

label.colorCode {
  color: #111111;
  font-size: 50%;
  align-self: start;
}

input#colorPicker {
  width: 12%;
  padding: 2%;
  background-color: #AAD8D3;
  border-radius: 20%;
}

div#compareColors {
  height: 10vh;
  width: 50vw;
  background-color: #AAD8D3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

div#chosenColor,
div#complementaryColor {
  background-color: #464139;
  color: #464139;
  width: 60%;
  border: 3px #393E46 solid;
  margin: 5%;
}